@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
    
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border !scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    @apply active:outline-none;
  }
}

@layer utilities {
  .heading {
    @apply font-bold text-4xl md:text-5xl text-center;
  }

  .black-gradient {
    background: linear-gradient(90deg, #161a31 0%, #06091f 100%);
  }
}

/* Cursor shadow */
.cursor {
  position: absolute;
  background: hsl(var(--foreground) / 70%);
  /*background: rgba(255, 255, 255, 0.99); /* Set a visible background color */
  border-radius: 50%;
  rotate: 35deg;
  width: 260px;
  height: 260px;
  filter: blur(280px);
  /*animation: shadow-slide infinite 4s linear alternate;*/
  transform: translate(-50%, -50%); /* Center the shadow */
}

.scrollbar::-webkit-scrollbar {
  width: 2px;
  /*height: 20px;*/
}
.scrollbar::-webkit-scrollbar-track {
  /* border-radius: 100vh; */
  background: #f7f4ed;
}
.scrollbar::-webkit-scrollbar-thumb {
  /* background: #e0cbcb; */
  border-radius: 100vh;
  /* border: 3px solid #f6f7ed; */
}
.scrollbar::-webkit-scrollbar-thumb:hover {
 background: #c0a0b9;
}

/*
@keyframes shadow-slide {
  from {
    background: hsl(var(--primary) / 0%);
    right: 460px;
  }
  to {
    background: hsl(var(--primary) / 50%);
    right: 160px;
  }
}
*/

/* Timeline */
@keyframes moveline {
0%{
      height: 0;
  }
  20%{
      height: 10%;
  }
  40%{
      height: 30%;
  }
  60%{
      height: 40%;
  }
  80%{
      height: 60%;
  }
  100%{
      height: 100%;
  }
}

@keyframes movedown {
  0%{
      opacity: 1;
      transform: translateY(-30px);
  }
  100%{
      opacity: 1;
      transform: translateY(0px);
  }
}


.container {
/*animation: movedown 1s linear forwards;*/
}


.timeline::after {
content: "";
position: absolute;
width: 6px;
height: 100%;
background: #fff;
top: 0;
left: 50%;
margin-left: -3px;
z-index: 1;
animation: moveline 12s linear forwards;
}


.text-box p::before {
content: "";
position: absolute;
width: 6px;
height: 100%;
top: 0;
left: 50%;
margin-left: -3px;
z-index: 1;
}

.text-box p::after {
content: "";
position: absolute;
width: 6px;
height: 100%;
top: 0;
left: 50%;
margin-left: -3px;
z-index: -1;
}

.container:nth-child(1) {
animation-delay: 0.5s;
}
.container:nth-child(2) {
animation-delay: 1s;
}
.container:nth-child(3) {
animation-delay: 1.5s;
}
.container:nth-child(4) {
animation-delay: 2s;
}
.container:nth-child(5) {
animation-delay: 2.5s;
}
.container:nth-child(6) {
animation-delay: 3s;
}

.animate {
  /*background-color: yellow;*/ /* test animation */
  animation: movedown 0.5s linear forwards;
}

@media screen and (max-width: 600px) {
.timeline::after {
  left: 31px;
}
}

@media (max-width: 1024px) {
  .cursor {
    /*top: 70px;*/
    width: 400px;
    height: 400px; /* Adjust the height to match the width */
  }
  /*
  @keyframes shadow-slide {
    from {
      background: hsl(var(--primary) / 20%);
      right: 460px;
    }
    to {
      background: hsl(var(--primary) / 50%);
      right: 160px;
    }
  }
 */
}

@media (max-width: 768px) {
  .cursor {
    /*top: 70px;*/
    width: 50px;
    height: 50px; /* Adjust the height to match the width */
    filter: blur(60px);
  }
  /*
  @keyframes shadow-slide {
    from {
      background: hsl(var(--primary) / 20%);
      right: 280px;
    }
    to {
      background: hsl(var(--primary) / 30%);
      right: 100px;
    }
  }
  */
}
/*
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
*/
